{{>layout/header}}



<h2>JWT Sample 웹서비스 </h2>


<!--<a  href="/posts" id="postsBtn" role="button" class="btn btn-primary">사용자 컨텐츠 이동</a>-->
<button  id="postsBtn" role="button" class="btn btn-primary">사용자 컨텐츠 이동</button>

<a href="/login/login" class="btn btn-info active" role="button">로그인</a><!--스프링시큐리티에서 기본적으로 제공하는 로그아웃 url-->






{{>layout/footer}}


<script>
let flag = 0;

$("#postsBtn").click(function(){

    let token = localStorage.getItem('Authorization');

    $.ajax({
        type: 'GET',
        url: '/posts',
        headers: {
            'Authorization': token
        },
    }).done(function(data){
        console.log(data);
        window.location.href= '/posts';
    }).fail(function(error){
        console.log(error);
    });
});



</script>